

$primary-color : #29b1cb;
$primary-color_transparent : rgba(49, 49, 49, 0.36);
$primary-color-hover : #088da5;

$secondary-color : #1ABC9C;
$secondary-color-hover : #188367;


body {
    margin: 0;
    padding: 0;
    background: $primary-color;
}
.container {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    @media (min-width: 480px) {
        width: 40%;
    }

    img {
        display: block;
        width: 80%;
        border-radius: 15px;
        padding: 5px;
        box-shadow: 13px 8px 12px -7px $primary-color_transparent;

        @media (min-width: 480px) {
            width: 70%;
        }
    }

    .loading {
        height: 40px;
        margin-top: 40px;
        display: flex;
        align-items: center;

        @media (min-width: 480px) {
            height: 80px;
            margin-top: 20px;
        }

        .obj {
            width: 6px;
            height: 10px;
            background: white;
            margin: 0 3px;
            border-radius: 10px;
            animation: loading 0.8s infinite;

            @media (min-width: 480px) {
                width: 6px;
                height: 10px;
                background: white;
                margin: 0 3px;
                border-radius: 10px;
                animation: loadingEscritorio 0.8s infinite;
            }
            &:nth-child(2) {
                animation-delay: 0.1s;
            }
            &:nth-child(3) {
                animation-delay: 0.2s;
            }
            &:nth-child(4) {
                animation-delay: 0.3s;
            }
            &:nth-child(5) {
                animation-delay: 0.4s;
            }
            &:nth-child(6) {
                animation-delay: 0.5s;
            }
            &:nth-child(7) {
                animation-delay: 0.6s;
            }
            &:nth-child(8) {
                animation-delay: 0.7s;
            }
        }
    }

    
}


@keyframes loading {
    0% {
        height: 0;
    }
    50% {
        height: 40px;
    }
    100% {
        height: 0;
    }
}

@keyframes loadingEscritorio {
    0% {
        height: 0;
    }
    50% {
        height: 55px;
    }
    100% {
        height: 0;
    }
}
